{
  "openapi": "3.0.2",
  "info": {
    "title": "NatiqQuran Api",
    "version": "0.0.7"
  },
  "servers": [
    {
      "url": "https://api.natiq.net"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    },
    "schemas": {
      "AccountSendCoderequestBody": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "pattern": "\\.[Ii][Oo]$",
            "description": "The email address"
          }
        },
        "required": ["email"]
      },
      "AccountVerifyrequestBody": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "The email address"
          },
          "code": {
            "type": "number",
            "minLength": 6,
            "maxLength": 6,
            "example": 123456,
            "description": "The code"
          }
        },
        "required": ["email", "code"]
      },
      "UserListResponseData": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "uuid": {
              "type": "string",
              "format": "uuid",
              "nullable": false,
              "description": "Unique identifier of the user"
            },
            "email": {
              "type": "string",
              "format": "email",
              "pattern": "\\.[Ii][Oo]$",
              "nullable": false,
              "description": "Primary email address of the user, if available"
            },
            "username": {
              "type": "string",
              "nullable": false,
              "example": "u012",
              "description": "Username of the user"
            },
            "first_name": {
              "type": "string",
              "nullable": true,
              "description": "First name of the user, if available"
            },
            "last_name": {
              "type": "string",
              "nullable": true,
              "description": "Last name of the user, if available"
            },
            "birthday": {
              "type": "string",
              "format": "date",
              "nullable": true,
              "description": "Birthday of the user, if available"
            },
            "profile_image": {
              "type": "string",
              "nullable": true,
              "example": "https://example.com/image.jpg",
              "description": "URL of the user's profile image, if available"
            },
            "language": {
              "type": "string",
              "format": "language",
              "nullable": false,
              "example": "en",
              "description": "Preferred language of the user, if available"
            }
          },
          "required": [
            "uuid",
            "email",
            "username",
            "first_name",
            "last_name",
            "birthday",
            "profile_image",
            "language"
          ]
        }
      },
      "UserAddrequestBody": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "minLength": 6,
            "maxLength": 12,
            "example": "Abbas123",
            "description": "The unique username for new profile"
          },
          "primary_email": {
            "type": "string",
            "format": "email",
            "pattern": "\\.[Ii][Oo]$",
            "description": "Unique email for the a account"
          },
          "first_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 16,
            "description": "The first name of user"
          },
          "last_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 16,
            "description": "The last name of user"
          },
          "birthday": {
            "type": "string",
            "format": "date",
            "description": "Birthday date of user profile, minDate is 200 years past"
          },
          "profile_image": {
            "type": "string",
            "example": "https://example.com/profile-image.jpg",
            "description": "The url of a profile image"
          },
          "language": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2,
            "example": "en",
            "description": "User's speaking language."
          }
        },
        "required": [
          "username",
          "primary_email",
          "first_name",
          "last_name",
          "birthday",
          "language"
        ]
      },
      "ProfileListResponseData": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "uuid": {
              "type": "string",
              "format": "uuid",
              "nullable": false,
              "description": "User Unique Identifier"
            },
            "email": {
              "type": "string",
              "format": "email",
              "pattern": "\\.[Ii][Oo]$",
              "nullable": false,
              "description": "User email address"
            },
            "username": {
              "type": "string",
              "nullable": false,
              "example": "u012",
              "description": "The user unique username"
            },
            "first_name": {
              "type": "string",
              "nullable": true,
              "description": "The first name of user"
            },
            "last_name": {
              "type": "string",
              "nullable": true,
              "description": "The last name of user"
            },
            "birthday": {
              "type": "string",
              "format": "date",
              "nullable": true,
              "description": "User's date of birth"
            },
            "profile_image": {
              "type": "string",
              "nullable": true,
              "example": "https://example.com/profile-image.jpg",
              "description": "The url of a profile image"
            },
            "language": {
              "type": "string",
              "nullable": false,
              "example": "en",
              "description": "User's speaking language."
            }
          },
          "required": [
            "uuid",
            "email",
            "username",
            "first_name",
            "last_name",
            "birthday",
            "profile_image",
            "language"
          ]
        }
      },
      "ProfileEditrequestBody": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "minLength": 6,
            "maxLength": 12,
            "description": "The unique username for user"
          },
          "first_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 16,
            "description": "First name of user profile"
          },
          "last_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 16,
            "description": "Last name of user profile"
          },
          "birthday": {
            "type": "string",
            "format": "date",
            "description": "Birthday date of user profile, minDate is 200 years past"
          },
          "profile_image": {
            "type": "string",
            "example": "https://example.com/profile-image.jpg",
            "description": "Profile image of user profile."
          },
          "language": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2,
            "example": "en",
            "description": "User's speaking language."
          }
        },
        "required": [
          "username",
          "first_name",
          "last_name",
          "birthday",
          "language"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "general",
      "description": "Simple public api's"
    },
    {
      "name": "account",
      "description": "For authorization, and users"
    },
    {
      "name": "user",
      "description": "List, View, Edit & Delete users"
    },
    {
      "name": "organization",
      "description": "Manage organizations"
    },
    {
      "name": "permission",
      "description": "Manage permissions"
    },
    {
      "name": "quran",
      "description": "All the quran related routers"
    },
    {
      "name": "translation",
      "description": "Manage translation"
    },
    {
      "name": "phrase",
      "description": "Manage phrase"
    },
    {
      "name": "report",
      "description": "Technical reports"
    }
  ],
  "paths": {
    "/account/sendCode": {
      "post": {
        "description": "Send code for sign in or sign up",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountSendCoderequestBody"
              }
            }
          }
        },
        "tags": ["account"],
        "responses": {
          "200": {
            "description": "Code sended.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "Code sended"
                }
              }
            }
          },
          "400": {
            "description": "Request data is not valid",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "email: Validation error: email [{\"value\": String(\"info@gmail.\")}]"
                    },
                    "error_name": {
                      "type": "string",
                      "example": "VALIDATION_ERROR"
                    },
                    "message": {
                      "type": "string",
                      "example": "Request data is not valid"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account/verify": {
      "post": {
        "description": "Return the new user token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountVerifyrequestBody"
              }
            }
          }
        },
        "tags": ["account"],
        "responses": {
          "200": {
            "description": "Returns the new user token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "UserToken"
                }
              }
            }
          },
          "400": {
            "description": "Verification code is not valid!",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error_name": {
                      "type": "string",
                      "example": "VERIFY_CODE_NOT_VALID"
                    },
                    "message": {
                      "type": "string",
                      "example": "Verification code is not valid!"
                    }
                  }
                }
              }
            }
          },
          "410": {
            "description": "No verification code is sended to this email!",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error_name": {
                      "type": "string",
                      "example": "VERIFY_CODE_NOT_SENDED"
                    },
                    "message": {
                      "type": "string",
                      "example": "No verification code is sended to this email!"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account/logout": {
      "get": {
        "description": "Expire the user token",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["account"],
        "responses": {
          "200": {
            "description": "Expires the token of user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "Logged Out"
                }
              }
            }
          },
          "401": {
            "description": "the client lacks proper authentication credentials or has provided invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_name": {
                      "type": "string",
                      "example": "AUTHN_TOKEN_INVALID"
                    },
                    "message": {
                      "type": "string",
                      "example": "Token invalid"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user": {
      "get": {
        "summary": "List of Users",
        "description": "Get the list of all users",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["user"],
        "responses": {
          "200": {
            "description": "Returns the list of users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserListResponseData"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add user",
        "description": "Create new account",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserAddrequestBody"
              }
            }
          }
        },
        "tags": ["user"],
        "responses": {
          "200": {
            "description": "New account created"
          }
        }
      }
    },
    "/user/{user_uuid}": {
      "get": {
        "summary": "View user",
        "description": "Return's single user profile",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "user_uuid",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["user"],
        "responses": {
          "200": {
            "description": "Return's single user profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserListResponseData"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Edit user",
        "description": "Edit the user full profile",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "user_uuid",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserAddrequestBody"
              }
            }
          }
        },
        "tags": ["user"],
        "responses": {
          "200": {
            "description": "User full profile edited"
          }
        }
      },
      "delete": {
        "summary": "Delete user",
        "description": "Delete's single user profile",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "user_uuid",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["user"],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/profile": {
      "get": {
        "summary": "View Profile",
        "description": "Return's the user profile from auth token",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["user"],
        "responses": {
          "200": {
            "description": "Return's the user Profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileListResponseData"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Edit Profile",
        "description": "Edit's the user Profile from auth token",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileEditrequestBody"
              }
            }
          }
        },
        "tags": ["user"],
        "responses": {
          "200": {
            "description": "This means new organization created"
          }
        }
      }
    },
    "/organization": {
      "get": {
        "summary": "List of Organizations",
        "description": "Return the list of all organizations",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["organization"],
        "responses": {
          "200": {
            "description": "Returns the list of all organizations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uuid": {
                        "type": "string",
                        "example": "f9339c7a-749a-408e-a03e-a22cd87fe3a1"
                      },
                      "username": {
                        "type": "string",
                        "example": "org-username"
                      },
                      "primary_name": {
                        "type": "string",
                        "example": "Primary Organization Name"
                      },
                      "profile_image": {
                        "type": "string",
                        "nullable": true,
                        "example": "http://example.com/image.jpg"
                      },
                      "established_date": {
                        "type": "string",
                        "format": "date",
                        "example": "2024-01-01"
                      },
                      "national_id": {
                        "type": "string",
                        "example": "123456789"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add Organizations",
        "description": "Add the new organization",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "The unique username for new organization",
                    "example": "github",
                    "minLength": 6,
                    "maxLength": 12
                  },
                  "name": {
                    "type": "string",
                    "description": "The full name of organization",
                    "example": "github organization",
                    "minLength": 1,
                    "maxLength": 16
                  },
                  "primary_name": {
                    "type": "string",
                    "description": "The primary name for organization",
                    "example": "github",
                    "minLength": 1,
                    "maxLength": 16
                  },
                  "profile_image": {
                    "type": "string",
                    "nullable": true,
                    "description": "The url of a profile image",
                    "example": "https://..."
                  },
                  "established_date": {
                    "type": "string",
                    "description": "The established date of organization(company), minDate is 200 year past",
                    "example": "1988-03-12"
                  },
                  "national_id": {
                    "type": "string",
                    "description": "The national id of a company",
                    "minLength": 11,
                    "maxLength": 11,
                    "example": "12345678911"
                  }
                },
                "required": [
                  "username",
                  "name",
                  "primary_name",
                  "established_date",
                  "national_id"
                ]
              }
            }
          }
        },
        "tags": ["organization"],
        "responses": {
          "200": {
            "description": "This means new organization created"
          }
        }
      }
    },
    "/organization/{organization_uuid}": {
      "get": {
        "summary": "View Organization",
        "description": "View organization with id you specified",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "organization_uuid",
            "schema": {
              "type": "string",
              "description": "The UUID of the organization to view"
            }
          }
        ],
        "tags": ["organization"],
        "responses": {
          "200": {
            "description": "Returns the organization with id you specified",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string",
                      "description": "The unique username of the organization",
                      "example": "github"
                    },
                    "name": {
                      "type": "string",
                      "description": "The full name of the organization",
                      "example": "GitHub Organization"
                    },
                    "profile_image": {
                      "type": "string",
                      "nullable": true,
                      "description": "The URL of the organization's profile image",
                      "example": "https://assets.natiq.com/example-profile-image.jpg"
                    },
                    "established_date": {
                      "type": "string",
                      "format": "date",
                      "description": "The established date of the organization",
                      "example": "2008-04-10"
                    },
                    "national_id": {
                      "type": "string",
                      "description": "The national ID of the organization",
                      "example": "12345678911"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Edit Organization",
        "description": "Edit permission with id you specified",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "organization_uuid",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "e0e1f46b-3b8c-4f9b-8c6f-467d31c60987"
            },
            "description": "The unique identifier of the organization to be edited"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "The unique username for new organization",
                    "example": "github",
                    "minLength": 6,
                    "maxLength": 12
                  },
                  "name": {
                    "type": "string",
                    "description": "The full name of organization",
                    "example": "github organization",
                    "minLength": 1,
                    "maxLength": 16
                  },
                  "profile_image": {
                    "type": "string",
                    "format": "url",
                    "nullable": true,
                    "description": "The url of a profile image",
                    "example": "https://..."
                  },
                  "established_date": {
                    "type": "string",
                    "format": "date",
                    "description": "The established date of organization(company), minYear is 200 year past",
                    "example": "1988-03-12"
                  },
                  "national_id": {
                    "type": "string",
                    "description": "The national id of a company",
                    "minLength": 11,
                    "maxLength": 11,
                    "example": "12345678911"
                  }
                },
                "required": [
                  "username",
                  "name",
                  "established_date",
                  "national_id"
                ]
              }
            }
          }
        },
        "tags": ["organization"],
        "responses": {
          "200": {
            "description": "Organization with id you specified edited"
          }
        }
      },
      "delete": {
        "summary": "Delete Organization",
        "description": "Delete a single organization with id you specified",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "organization_uuid",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The unique identifier (UUID) of the organization to be deleted"
          }
        ],
        "tags": ["organization"],
        "responses": {
          "200": {
            "description": "Mushaf deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "Deleted"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/json": {
                "example": {
                  "error": "NOT_FOUND",
                  "message": "Not found!."
                }
              }
            }
          }
        }
      }
    },
    "/organization/name": {
      "get": {
        "summary": "List of Organization name",
        "description": "Returns the list of organization names for the specified organization UUID",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["organization"],
        "responses": {
          "200": {
            "description": "Returns the list of organization names for the specified UUID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The organization name",
                        "example": "Example Organization"
                      },
                      "language": {
                        "type": "string",
                        "description": "Language of the organization name",
                        "example": "en"
                      },
                      "uuid": {
                        "type": "string",
                        "format": "uuid",
                        "description": "UUID of the name entry",
                        "example": "123e4567-e89b-12d3-a456-426614174001"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/json": {
                "example": {
                  "error": "NOT_FOUND",
                  "message": "Not found!."
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add Organization Name",
        "description": "Add the organization name in another language",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The new name of the organization",
                    "example": "ali",
                    "minLength": 1,
                    "maxLength": 16
                  },
                  "language": {
                    "type": "string",
                    "description": "The language code for the name (2 characters, e.g., 'en' or 'ar')",
                    "minLength": 2,
                    "maxLength": 2,
                    "example": "en"
                  }
                },
                "required": ["name", "language"]
              }
            }
          }
        },
        "tags": ["organization"],
        "responses": {
          "200": {
            "description": "The organization name in another language has been successfully added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Edited"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organization/name/{name_uuid}": {
      "get": {
        "summary": "View Organization Name",
        "description": "View the organization name in another language with name_uuid you specified",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "name_uuid",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "tags": ["organization"],
        "responses": {
          "200": {
            "description": "Returns the organization name in another language with the specified name_uuid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The organization name",
                      "example": "Example Organization"
                    },
                    "language": {
                      "type": "string",
                      "description": "Language of the organization name",
                      "example": "en"
                    },
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "description": "UUID of the organization name entry",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Edit Organization Name",
        "description": "Edit the organization name in another language with name_uuid you specified",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "name_uuid",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "New name",
                    "example": "ali",
                    "minLength": 1,
                    "maxLength": 16
                  }
                },
                "required": ["name"]
              }
            }
          }
        },
        "tags": ["organization"],
        "responses": {
          "200": {
            "description": "The organization name in another language with the specified name_uuid has been edited successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Edited"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Organization Name",
        "description": "Delete the organization name in another language with name_uuid you specified",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "name_uuid",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["organization"],
        "responses": {
          "200": {
            "description": "The organization name in another language with name_uuid you specified deleted"
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/json": {
                "example": {
                  "error": "NOT_FOUND",
                  "message": "Not found!."
                }
              }
            }
          }
        }
      }
    },
    "/permission": {
      "get": {
        "summary": "List of Permissions",
        "description": "Return the list of all permissions",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": ["permission"],
        "responses": {
          "200": {
            "description": "Returns the list of all permissions",
            "content": {
              "application/json": {
                "example": [
                  {
                    "uuid": "c7a4c02c-fdf7-4f66-90cf-5fd417fc7bcf",
                    "account": {
                      "uuid": "3b28d18b-13a9-46d6-b4c9-b3452b7280db",
                      "username": "admin",
                      "first_name": "Admin",
                      "last_name": "User"
                    },
                    "object": "resource",
                    "action": "delete",
                    "conditions": [
                      {
                        "name": "time_based",
                        "value": "true"
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add new Permission",
        "description": "Add new permission",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subject": {
                    "type": "string",
                    "description": "The user uuid or * for all users",
                    "nullable": true
                  },
                  "object": {
                    "type": "string",
                    "description": "The controller that the user needs to access",
                    "example": "Translation, Reciters & etc",
                    "nullable": false
                  },
                  "action": {
                    "type": "string",
                    "description": "The action for controller & etc",
                    "example": "Add, Edit, View, List, Delete & etc",
                    "nullable": false
                  },
                  "conditions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Unique ID of the condition. Nullable or auto-generated.",
                          "nullable": true
                        },
                        "name": {
                          "type": "string",
                          "description": "Condition name (e.g., isOwner)",
                          "example": "isOwner",
                          "nullable": false
                        },
                        "value": {
                          "type": "string",
                          "description": "Condition value (e.g., true)",
                          "example": "true",
                          "nullable": false
                        }
                      },
                      "required": ["name", "value"]
                    },
                    "description": "Array of conditions, each condition is an object with a name & value. Currently, only the condition 'isOwner' is possible.",
                    "example": "[{ \"name\": \"isOwner\", \"value\": \"true\" }]"
                  }
                },
                "required": ["object", "action", "conditions"]
              }
            }
          }
        },
        "tags": ["permission"],
        "responses": {
          "200": {
            "description": "Permission successfully edited",
            "content": {
              "application/json": {
                "example": {
                  "message": "Added"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "error_name": "INTERNAL_ERROR",
                  "message": "Internal Error!"
                }
              }
            }
          }
        }
      }
    },
    "/permission/{permission_uuid}": {
      "get": {
        "summary": "View Permission",
        "description": "View permission with the UUID you specified",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "permission_uuid",
            "schema": {
              "type": "string",
              "description": "The unique UUID of the permission you want to view",
              "example": "4454f3fc-acf5-4933-ac14-1ce0b055b523"
            }
          }
        ],
        "tags": ["permission"],
        "responses": {
          "200": {
            "description": "Returns the permission with the UUID you specified",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "description": "Unique UUID of the permission",
                      "example": "4454f3fc-acf5-4933-ac14-1ce0b055b523"
                    },
                    "account": {
                      "type": "object",
                      "properties": {
                        "uuid": {
                          "type": "string",
                          "description": "UUID of the account",
                          "example": "456lj070-21ac-0d3j-0000-ac0s3n47ed08"
                        },
                        "username": {
                          "type": "string",
                          "description": "Username of the account",
                          "example": "curator"
                        },
                        "first_name": {
                          "type": "string",
                          "description": "First name of the account holder",
                          "nullable": true,
                          "example": null
                        },
                        "last_name": {
                          "type": "string",
                          "description": "Last name of the account holder",
                          "nullable": true,
                          "example": null
                        }
                      },
                      "required": ["uuid", "username"]
                    },
                    "object": {
                      "type": "string",
                      "description": "The object that the permission applies to",
                      "example": "permission"
                    },
                    "action": {
                      "type": "string",
                      "description": "The action allowed on the object",
                      "example": "create"
                    },
                    "conditions": {
                      "type": "array",
                      "description": "Array of conditions associated with the permission",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Condition name",
                            "example": "isOwner"
                          },
                          "value": {
                            "type": "string",
                            "description": "Condition value",
                            "example": "true"
                          }
                        },
                        "required": ["name", "value"]
                      },
                      "example": []
                    }
                  },
                  "required": ["uuid", "account", "object", "action"]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Edit Permission",
        "description": "Edit permission with id you specified",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "permission_uuid",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["subject", "object", "action"],
                "properties": {
                  "subject": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The user uuid or * for all users",
                    "example": "f9339c7a-749a-408e-a03e-a22cd87fe3a1"
                  },
                  "object": {
                    "type": "string",
                    "description": "The controller that the user need to access",
                    "example": "Translation"
                  },
                  "action": {
                    "type": "string",
                    "description": "The action for controller",
                    "example": "Edit"
                  },
                  "conditions": {
                    "type": "array",
                    "description": "Array of conditions",
                    "items": {
                      "type": "object",
                      "required": ["name", "value"],
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Name of the condition"
                        },
                        "value": {
                          "type": "string",
                          "description": "Value of the condition"
                        }
                      }
                    },
                    "example": [
                      {
                        "name": "isOwner",
                        "value": "true"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": ["permission"],
        "responses": {
          "200": {
            "description": "Permission successfully edited",
            "content": {
              "application/json": {
                "example": {
                  "message": "Edited"
                }
              }
            }
          },
          "404": {
            "description": "The permission with the given UUID was not found",
            "content": {
              "application/json": {
                "example": {
                  "error_name": "NOT_FOUND",
                  "message": "Not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "error_name": "INTERNAL_ERROR",
                  "message": "Internal Error!"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Permission",
        "description": "Delete permission with id you specified",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "permission_uuid",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["permission"],
        "responses": {
          "200": {
            "description": "permission with id you specified deleted",
            "content": {
              "application/json": {
                "example": {
                  "message": "Deleted"
                }
              }
            }
          },
          "404": {
            "description": "The permission with the given UUID was not found.",
            "content": {
              "application/json": {
                "example": {
                  "error_name": "NOT_FOUND",
                  "message": "Not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "example": {
                  "error_name": "INTERNAL_ERROR",
                  "message": "Internal Error!"
                }
              }
            }
          }
        }
      }
    },
    "/mushaf": {
      "get": {
        "summary": "List of Mushaf",
        "description": "Returns the list of mushafs",
        "parameters": [
          {
            "in": "query",
            "required": false,
            "name": "sort",
            "description": "Field to sort the results by",
            "schema": {
              "type": "string",
              "enum": ["name", "createTime", "updateTime"]
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "order",
            "description": "Order of the results. 'asc' for ascending and 'desc' for descending.",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "from",
            "description": "The starting index of the mushafs list",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "to",
            "description": "The ending index of the mushafs list",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": ["quran", "general"],
        "responses": {
          "200": {
            "description": "Returns the mushafs list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uuid": {
                        "type": "string",
                        "description": "UUID of the mushaf"
                      },
                      "name": {
                        "type": "string",
                        "description": "Full name of the mushaf",
                        "example": "jafar"
                      },
                      "short_name": {
                        "type": "string",
                        "description": "Short name of the mushaf"
                      },
                      "source": {
                        "type": "string",
                        "description": "Source of the mushaf"
                      }
                    },
                    "required": ["uuid", "name", "short_name", "source"]
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add Mushaf",
        "description": "Add a new mushaf",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "short_name": {
                    "type": "string",
                    "description": "The mushaf short name, must be one word with only '_' and {'1'..'9'}.",
                    "example": "hafs"
                  },
                  "name": {
                    "type": "string",
                    "description": "The full name of the mushaf.",
                    "example": "Hafs an Asem"
                  },
                  "source": {
                    "type": "string",
                    "description": "The source of the mushaf's text.",
                    "example": "tanzil"
                  }
                }
              }
            }
          }
        },
        "tags": ["quran"],
        "responses": {
          "200": {
            "description": "The new mushaf has been created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "Added"
                }
              }
            }
          }
        }
      }
    },
    "/mushaf/{mushaf_uuid}": {
      "get": {
        "summary": "View Mushaf",
        "description": "View mushaf with the id you specified",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "mushaf_uuid",
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "UUID of the mushaf to view"
            }
          }
        ],
        "tags": ["quran", "general"],
        "responses": {
          "200": {
            "description": "Returns the mushaf with the id you specified",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "description": "UUID of the mushaf"
                    },
                    "short_name": {
                      "type": "string",
                      "description": "Short name of the mushaf"
                    },
                    "name": {
                      "type": "string",
                      "description": "Full name of the mushaf"
                    },
                    "source": {
                      "type": "string",
                      "description": "Source of the mushaf"
                    }
                  }
                },
                "example": {
                  "uuid": "ccbd8806-53e8-4658-8281-3aed10b50898",
                  "short_name": "hafs",
                  "name": "Hafs an Asem",
                  "source": "tanzil"
                }
              }
            }
          },
          "404": {
            "description": "Mushaf not found",
            "content": {
              "application/json": {
                "example": {
                  "error": "NOT_FOUND",
                  "message": "Not found!."
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Edit Mushaf",
        "description": "Edit mushaf with the UUID you specified",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "mushaf_uuid",
            "description": "The UUID of the mushaf to edit",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "ccbd8806-53e8-4658-8281-3aed10b50898"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "short_name": {
                    "type": "string",
                    "description": "The mushaf short name, must be one word with only '_' and {'1'..'9'}.",
                    "example": "hafs"
                  },
                  "name": {
                    "type": "string",
                    "description": "The full name of the mushaf.",
                    "example": "Hafs an Asem"
                  },
                  "source": {
                    "type": "string",
                    "description": "The source of the mushaf's text.",
                    "example": "tanzil"
                  }
                },
                "required": ["short_name", "name", "source"]
              }
            }
          }
        },
        "tags": ["quran"],
        "responses": {
          "200": {
            "description": "Mushaf with the UUID you specified has been edited successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "Edited"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Mushaf",
        "description": "Delete a mushaf by the specified UUID",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "mushaf_uuid",
            "description": "The UUID of the mushaf to delete",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "tags": ["quran"],
        "responses": {
          "200": {
            "description": "Mushaf deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "Deleted"
                }
              }
            }
          }
        }
      }
    },
    "/surah": {
      "get": {
        "summary": "List of surahs",
        "description": "This endpoint returns a list of surahs based on the provided query parameters.",
        "parameters": [
          {
            "name": "mushaf",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "hafs"
            },
            "description": "The mushaf name to filter the surahs."
          },
          {
            "name": "lang_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The language code for surah translations."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["name", "number", "createTime", "updateTime"]
            },
            "description": "Sorting criteria for the surah list."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            },
            "description": "Sort order (ascending or descending)."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Start index for pagination."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "End index for pagination."
          }
        ],
        "tags": ["quran", "general"],
        "responses": {
          "200": {
            "description": "Successful response containing a list of surahs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique identifier for the surah."
                    },
                    "number": {
                      "type": "integer",
                      "description": "Surah number."
                    },
                    "period": {
                      "type": "string",
                      "enum": ["makki", "madani"],
                      "nullable": true,
                      "description": "The period of revelation (e.g., Makki or Madani)."
                    },
                    "number_of_ayahs": {
                      "type": "integer",
                      "description": "The number of ayahs in the surah."
                    },
                    "names": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "arabic": {
                            "type": "string",
                            "description": "The Arabic name of the surah."
                          },
                          "pronunciation": {
                            "type": "string",
                            "description": "The way in which a word is pronounced.."
                          },
                          "translation_phrase": {
                            "type": "string",
                            "description": "A phrase that translates the meaning of the surah."
                          },
                          "translation": {
                            "type": "string",
                            "description": "Translation of the surah name."
                          },
                          "transliteration": {
                            "type": "string",
                            "description": "Transliteration of the surah name."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Surah not found",
            "content": {
              "application/json": {
                "example": {
                  "error": "NOT_FOUND",
                  "message": "Not found!."
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add Surah",
        "description": "Add a new surah to the database.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Details required to add the surah",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The surah name.",
                    "example": "الفاتحة"
                  },
                  "period": {
                    "type": "string",
                    "description": "Indicates whether the surah is Makki or Madani.",
                    "example": "makki"
                  },
                  "number": {
                    "type": "number",
                    "description": "The number of the surah in the Mushaf.",
                    "example": 1
                  },
                  "mushaf_uuid": {
                    "type": "string",
                    "description": "The UUID of the Mushaf in which the surah belongs.",
                    "example": "f9339c7a-749a-408e-a03e-a22cd87fe3a1"
                  },
                  "bismillah_status": {
                    "type": "boolean",
                    "description": "Determines whether Bismillah exists in the surah.",
                    "example": true
                  },
                  "bismillah_as_first_ayah": {
                    "type": "boolean",
                    "description": "Determines if Bismillah is the first ayah of the surah.",
                    "example": false
                  },
                  "name_translation_phrase": {
                    "type": "string",
                    "description": "The translation phrase for the surah name in the desired language.",
                    "example": "Al-Fatiha"
                  },
                  "name_pronunciation": {
                    "type": "string",
                    "description": "The pronunciation of the surah name in Arabic.",
                    "example": "Al-Fatiha"
                  },
                  "name_transliteration": {
                    "type": "string",
                    "description": "The transliteration of the surah name from Arabic to Latin.",
                    "example": "Al-Fatiha"
                  }
                },
                "required": ["name", "period", "number", "mushaf_id"]
              }
            }
          }
        },
        "tags": ["quran"],
        "responses": {
          "200": {
            "description": "The surah has been successfully added to the database.",
            "content": {
              "application/json": {
                "example": {
                  "message": "Added"
                }
              }
            }
          }
        }
      }
    },
    "/surah/{surah_uuid}": {
      "get": {
        "summary": "View Surah",
        "description": "Returns the single surah",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "surah_uuid",
            "schema": {
              "type": "string",
              "description": "UUID of the surah"
            }
          },
          {
            "in": "query",
            "name": "format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["text", "word"],
              "description": "Specifies the format of the response. Options are 'text' or 'word'"
            }
          },
          {
            "in": "query",
            "name": "lang_code",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Language code for the translation. Defaults to 'en' if not provided"
            }
          }
        ],
        "tags": ["quran", "general"],
        "responses": {
          "200": {
            "description": "Returns the single surah",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": false,
                      "description": "UUID of the surah"
                    },
                    "mushaf": {
                      "type": "object",
                      "properties": {
                        "uuid": {
                          "type": "string",
                          "format": "uuid",
                          "nullable": false,
                          "description": "UUID of the mushaf"
                        },
                        "short_name": {
                          "type": "string",
                          "description": "Short name of the mushaf"
                        },
                        "name": {
                          "type": "string",
                          "description": "Full name of the mushaf"
                        },
                        "source": {
                          "type": "string",
                          "description": "Source of the mushaf"
                        }
                      }
                    },
                    "names": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "arabic": {
                            "type": "string",
                            "description": "Arabic name of the surah"
                          },
                          "translation": {
                            "type": "string",
                            "description": "Translation of the surah name"
                          },
                          "translation_phrase": {
                            "type": "string",
                            "description": "Translation phrase for the surah name"
                          },
                          "pronunciation": {
                            "type": "string",
                            "description": "Pronunciation of the surah name"
                          },
                          "transliteration": {
                            "type": "string",
                            "description": "Transliteration of the surah name"
                          }
                        }
                      }
                    },
                    "period": {
                      "type": "string",
                      "description": "Period of the surah (e.g., Makki or Madani)"
                    },
                    "number": {
                      "type": "integer",
                      "description": "Surah number"
                    },
                    "bismillah_status": {
                      "type": "boolean",
                      "description": "Indicates if the surah contains 'Bismillah'"
                    },
                    "bismillah_as_first_ayah": {
                      "type": "boolean",
                      "description": "Indicates if 'Bismillah' is the first ayah of the surah"
                    },
                    "bismillah_text": {
                      "type": "string",
                      "description": "Text of 'Bismillah' if it is the first ayah"
                    },
                    "number_of_ayahs": {
                      "type": "integer",
                      "description": "Number of ayahs in the surah"
                    },
                    "ayahs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "number": {
                            "type": "integer",
                            "description": "Ayah number in the surah"
                          },
                          "uuid": {
                            "type": "string",
                            "format": "uuid",
                            "nullable": false,
                            "description": "UUID of the ayah"
                          },
                          "sajdah": {
                            "type": "boolean",
                            "description": "Indicates if the ayah has sajdah"
                          },
                          "text": {
                            "type": "string",
                            "description": "Text of the ayah (if format is 'text')"
                          },
                          "words": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "description": "Words of the ayah (if format is 'word')"
                            }
                          }
                        },
                        "required": ["uuid", "number", "text"]
                      }
                    }
                  },
                  "required": [
                    "uuid",
                    "mushaf",
                    "names",
                    "period",
                    "number",
                    "bismillah_status",
                    "bismillah_as_first_ayah",
                    "bismillah_text",
                    "number_of_ayahs",
                    "ayahs"
                  ]
                },
                "example": {
                  "surah": {
                    "uuid": "ccbd8806-53e8-4658-8281-3aed10b50898",
                    "mushaf": {
                      "uuid": "f9339c7a-749a-408e-a03e-a22cd87fe3a1",
                      "short_name": "hafs",
                      "name": "Hafs an Asem",
                      "source": "tanzil"
                    },
                    "names": [
                      {
                        "arabic": "الفاتحة",
                        "translation": "The Opening",
                        "translation_phrase": "Al-Fatiha",
                        "pronunciation": "Al-Fatiha",
                        "transliteration": "Al-Fātiḥa"
                      }
                    ],
                    "period": "Makki",
                    "number": 1,
                    "bismillah_status": true,
                    "bismillah_as_first_ayah": true,
                    "bismillah_text": "بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيمِ",
                    "number_of_ayahs": 7
                  },
                  "ayahs": [
                    {
                      "number": 1,
                      "uuid": "a2b23cd4-6f0f-4ecb-b9e0-abe34d928f12",
                      "sajdah": false,
                      "text": "بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيمِ",
                      "words": [
                        "بِسْمِ",
                        "اللَّهِ",
                        "الرَّحْمَنِ",
                        "الرَّحِيمِ"
                      ]
                    },
                    {
                      "number": 2,
                      "uuid": "b4c3d5f4-36a8-4e99-aab9-7dba0de3e351",
                      "sajdah": false,
                      "text": "الْحَمْدُ لِلَّهِ رَبِّ الْعَالَمِينَ",
                      "words": [
                        "الْحَمْدُ",
                        "لِلَّهِ",
                        "رَبِّ",
                        "الْعَالَمِينَ"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Surah not found",
            "content": {
              "application/json": {
                "example": {
                  "error": "NOT_FOUND",
                  "message": "not found!."
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Edit Surah",
        "description": "Edit surah with the specified UUID.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "surah_uuid",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID of the surah to edit."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Details required to update the surah",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The surah name in Arabic.",
                    "example": "الفاتحة"
                  },
                  "name_pronunciation": {
                    "type": "string",
                    "description": "Optional pronunciation of the surah name.",
                    "example": "Al-Fatiha"
                  },
                  "name_translation_phrase": {
                    "type": "string",
                    "description": "Optional translation phrase of the surah name.",
                    "example": "The Opening"
                  },
                  "name_transliteration": {
                    "type": "string",
                    "description": "Optional transliteration of the surah name.",
                    "example": "Al-Fātiḥah"
                  },
                  "period": {
                    "type": "string",
                    "description": "Indicates whether the surah is Makki or Madani.",
                    "example": "makki | madani"
                  },
                  "number": {
                    "type": "integer",
                    "description": "The surah number.",
                    "example": 1
                  },
                  "bismillah_status": {
                    "type": "boolean",
                    "description": "Determines if Bismillah is present in the surah.",
                    "example": true
                  },
                  "bismillah_as_first_ayah": {
                    "type": "boolean",
                    "description": "Indicates if Bismillah is treated as the first ayah.",
                    "example": false
                  },
                  "mushaf_uuid": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The UUID of the Mushaf associated with the surah.",
                    "example": "f9339c7a-749a-408e-a03e-a22cd87fe3a1"
                  }
                },
                "required": [
                  "name",
                  "number",
                  "bismillah_status",
                  "bismillah_as_first_ayah",
                  "mushaf_uuid"
                ]
              }
            }
          }
        },
        "tags": ["quran"],
        "responses": {
          "200": {
            "description": "Surah edited successfully.",
            "content": {
              "application/json": {
                "example": {
                  "message": "Edited"
                }
              }
            }
          },
          "404": {
            "description": "Mushaf not found",
            "content": {
              "application/json": {
                "example": {
                  "error": "NOT_FOUND",
                  "message": "Not found!."
                }
              }
            }
          },
          "500": {
            "description": "Internal server error occurred during the operation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_name": {
                      "type": "string",
                      "description": "A unique identifier for the error type.",
                      "example": "INTERNAL_ERROR"
                    },
                    "message": {
                      "type": "string",
                      "description": "Detailed error message.",
                      "example": "Internal Error!"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Surah",
        "description": "Deletes the surah identified by the specified UUID.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "surah_uuid",
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "UUID of the surah to be deleted."
            }
          }
        ],
        "tags": ["quran"],
        "responses": {
          "200": {
            "description": "The surah identified by the UUID has been successfully deleted."
          }
        }
      }
    },
    "/ayah": {
      "get": {
        "summary": "List of Ayahs",
        "description": "Returns the list of ayahs",
        "parameters": [
          {
            "in": "query",
            "required": true,
            "name": "mushaf",
            "schema": {
              "type": "string",
              "default": "hafs"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "format",
            "description": "The format of the ayahs.",
            "schema": {
              "type": "string",
              "enum": ["text", "word"]
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "sort",
            "description": "Sort the list by the specified field.",
            "schema": {
              "type": "string",
              "enum": ["number", "createTime", "updateTime"]
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "order",
            "description": "Order of the sorting.",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "from",
            "description": "Starting point of the list (pagination).",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "to",
            "description": "Ending point of the list (pagination).",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": ["quran"],
        "responses": {
          "200": {
            "description": "Returns the ayahs list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "number": {
                      "type": "integer",
                      "description": "-----"
                    },
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "description": "-----"
                    },
                    "sajdah": {
                      "type": "string",
                      "enum": ["mostahab", "vajib"],
                      "nullable": true,
                      "description": "-----"
                    },
                    "text": {
                      "type": "string",
                      "description": "-----"
                    },
                    "words": {
                      "type": "string",
                      "description": "-----"
                    }
                  }
                },
                "example": [
                  {
                    "number": 1,
                    "uuid": "123e4567-e89b-12d3-a456-426614174000",
                    "sajdah": null,
                    "text": "In the name of Allah, the Most Gracious, the Most Merciful.",
                    "words": ["In", "the", "name", "of", "Allah", "..."]
                  }
                ]
              }
            }
          },
          "404": {
            "description": "Ayah not found",
            "content": {
              "application/json": {
                "example": {
                  "error": "NOT_FOUND",
                  "message": "Not found!."
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add Ayah",
        "description": "Add the new ayah",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "surah_uuid": {
                    "type": "string",
                    "description": "The UUID of the target surah"
                  },
                  "sajdeh": {
                    "type": "string",
                    "description": "Ayah have sajdeh or no",
                    "example": "vajib | mustahab | null"
                  },
                  "text": {
                    "type": "string",
                    "description": "The text of the ayah.",
                    "example": "In the name of Allah, the Most Gracious, the Most Merciful."
                  }
                },
                "required": ["surah_uuid", "text"]
              }
            }
          }
        },
        "tags": ["quran"],
        "responses": {
          "200": {
            "description": "This means new ayah added"
          }
        }
      }
    },
    "/ayah/{ayah_uuid}": {
      "get": {
        "summary": "View Ayah",
        "description": "Returns the single ayah",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "ayah_uuid",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["quran"],
        "responses": {
          "200": {
            "description": "Returns the single ayah",
            "content": {
              "application/json": {
                "example": {
                  "uuid": "ae819d56-5071-4ca1-b964-9e170fac1118",
                  "mushaf": "uuid-of-mushaf",
                  "surah": "uuid-of-surah",
                  "ayah_number": 1,
                  "sajdah": null,
                  "text": "هُدًى وَبُشْرَىٰ لِلْمُؤْمِنِينَ",
                  "words": [
                    {
                      "uuid": "5743e20c-ed23-443c-be2d-7ee41fa1032e",
                      "word": "هُدًى"
                    },
                    {
                      "uuid": "e3d68b7c-ef58-4598-9c4a-c96fdfe8f7b4",
                      "word": "وَبُشْرَىٰ"
                    },
                    {
                      "uuid": "b1088c7c-8eae-42a7-9741-5c37b3d11526",
                      "word": "لِلْمُؤْمِنِينَ"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Edit Ayah",
        "description": "Edit ayah with id you specified",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "ayah_uuid",
            "schema": {
              "type": "string",
              "description": "The unique identifier for the ayah"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ayah_number": {
                    "type": "integer",
                    "description": "Number of ayah",
                    "example": 1
                  },
                  "sajdeh": {
                    "type": "string",
                    "description": "Ayah have sajdeh or no",
                    "example": "vajib | mustahab | null"
                  }
                }
              }
            }
          }
        },
        "tags": ["quran"],
        "responses": {
          "200": {
            "description": "This means the ayah edited"
          }
        }
      },
      "delete": {
        "summary": "Delete Ayah",
        "description": "Delete ayah with id you specified",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "ayah_uuid",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["quran"],
        "responses": {
          "200": {
            "description": "Ayah with id you specified deleted"
          }
        }
      }
    },
    "/word": {
      "post": {
        "summary": "Add Word",
        "description": "Add a new Quran word.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ayah_uuid": {
                    "type": "string",
                    "description": "UUID of the ayah to which the word belongs."
                  },
                  "word": {
                    "type": "string",
                    "description": "The word text to be added.",
                    "example": "الیوم"
                  }
                },
                "required": ["ayah_uuid", "word"]
              }
            }
          }
        },
        "tags": ["quran"],
        "responses": {
          "200": {
            "description": "The new word has been successfully added.",
            "content": {
              "application/json": {
                "example": {
                  "message": "added"
                }
              }
            }
          },
          "404": {
            "description": "The ayah with the given UUID was not found.",
            "content": {
              "application/json": {
                "example": {
                  "error_name": "NOT_FOUND",
                  "message": "Not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "example": {
                  "error_name": "INTERNAL_ERROR",
                  "message": "Internal Error!"
                }
              }
            }
          }
        }
      }
    },
    "/word/{word_uuid}": {
      "description": "Returns the single word",
      "get": {
        "summary": "View Word",
        "description": "Returns the single word.",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "word_uuid",
            "schema": {
              "type": "string",
              "description": "UUID of the word to retrieve."
            }
          }
        ],
        "tags": ["quran"],
        "responses": {
          "200": {
            "description": "The word was successfully retrieved.",
            "content": {
              "application/json": {
                "example": {
                  "uuid": "3ecb2468-4c4e-4adb-b172-064b9eb65ad0",
                  "creator_user_id": 1,
                  "word": "ٱلْحَمْدُ"
                }
              }
            }
          },
          "404": {
            "description": "The word with the given UUID was not found.",
            "content": {
              "application/json": {
                "example": {
                  "error_name": "NOT_FOUND",
                  "message": "Not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "example": {
                  "error_name": "INTERNAL_ERROR",
                  "message": "Internal Error!"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Edit Word ",
        "description": "Edit word with id you specified",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "word_uuid",
            "schema": {
              "type": "string",
              "description": "UUID of the word to edit"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ayah_uuid": {
                    "type": "string",
                    "description": "The ayah_uuid of the word"
                  },
                  "word": {
                    "type": "string",
                    "description": "New word that want to replace",
                    "example": "الْحَمْدُ"
                  }
                }
              }
            }
          }
        },
        "tags": ["quran"],
        "responses": {
          "200": {
            "description": "This means the word was successfully edited",
            "content": {
              "application/json": {
                "example": {
                  "message": "Edited"
                }
              }
            }
          },
          "404": {
            "description": "The word with the given UUID was not found.",
            "content": {
              "application/json": {
                "example": {
                  "error_name": "NOT_FOUND",
                  "message": "Not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "example": {
                  "error_name": "INTERNAL_ERROR",
                  "message": "Internal Error!"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Word",
        "description": "Delete word with id you specified",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "word_uuid",
            "schema": {
              "type": "string",
              "description": "UUID of the word to delete"
            }
          }
        ],
        "tags": ["quran"],
        "responses": {
          "200": {
            "description": "Word with id you specified deleted",
            "content": {
              "application/json": {
                "example": {
                  "message": "Deleted"
                }
              }
            }
          },
          "404": {
            "description": "The word with the given UUID was not found.",
            "content": {
              "application/json": {
                "example": {
                  "error_name": "NOT_FOUND",
                  "message": "Not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "example": {
                  "error_name": "INTERNAL_ERROR",
                  "message": "Internal Error!"
                }
              }
            }
          }
        }
      }
    },
    "/translation": {
      "get": {
        "summary": "List of translations",
        "description": "Ruturn the list of all translations",
        "parameters": [
          {
            "in": "query",
            "required": true,
            "name": "mushaf",
            "schema": {
              "type": "string",
              "default": "hafs"
            }
          },

          {
            "in": "query",
            "required": false,
            "name": "language",
            "schema": {
              "type": "string"
            }
          },

          {
            "in": "query",
            "required": false,
            "name": "sort",
            "schema": {
              "type": "string"
            }
          },

          {
            "in": "query",
            "required": false,
            "name": "order",
            "schema": {
              "type": "string"
            }
          },

          {
            "in": "query",
            "required": false,
            "name": "from",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },

          {
            "in": "query",
            "required": false,
            "name": "to",
            "schema": {
              "type": "number"
            }
          }
        ],
        "tags": ["translation", "general"],
        "responses": {
          "200": {
            "description": "Returns the list of all translations"
          }
        }
      },
      "post": {
        "summary": "Add translation",
        "description": "Add new translation",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "translator_account_uuid": {
                    "type": "string",
                    "description": "The translator account uuid",
                    "example": "f9339c7a-749a-408e-a03e-a22cd87fe3a1"
                  },
                  "source": {
                    "type": "string",
                    "description": "The translation text source",
                    "example": "tanzil"
                  },
                  "language": {
                    "type": "string",
                    "description": "The language of translation text",
                    "example": "en",
                    "minLength": 2,
                    "maxLength": 2
                  },
                  "release_date": {
                    "type": "string",
                    "description": "translation release date",
                    "example": "2023-01-01"
                  }
                }
              }
            }
          }
        },
        "tags": ["translation"],
        "responses": {
          "200": {
            "description": "This means new translation created"
          }
        }
      }
    },
    "/translation/{translation_uuid}": {
      "get": {
        "summary": "View translation",
        "description": "View translation with id you specified",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "translation_uuid",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["translation", "general"],
        "responses": {
          "200": {
            "description": "Returns the translation with id you specified"
          }
        }
      },
      "post": {
        "summary": "Edit translation",
        "description": "Edit translation with id you specified",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "translation_uuid",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "translator_account_uuid": {
                    "type": "string",
                    "description": "The translator account uuid",
                    "example": "f9339c7a-749a-408e-a03e-a22cd87fe3a1"
                  },
                  "source": {
[...]
